* {
	margin: 0;
	padding: 0;
}
body {
	background: #000013;
	font-family: 'Roboto', sans-serif;
	min-width: 700px;
}
a {
	text-decoration: none;
}
h1 {
	margin-top: 20px;
	text-align: center;
	color: #3290ff;
	font-weight: 700;
	font-size: 75px;
	cursor: default;
	text-shadow: 0px 0px 5px #3290ff;
}
h1:hover {
	color: #70b0fb;
}
#social {
	text-align: center;
}
#social li {
	display: inline;
	font-weight: bold;
}
#social a {
	display: inline-block;
	font-size: 1.3em;
	padding: 5px;
}
#gthb {
	color: #a1a1a1;
}
#gthb:hover {
	color: #e2e2e2;
}
#twtr {
	color: #74a6db;
}
#twtr:hover {
	color: #a6cbf2;
}
#lsfm {
	color: #df1616;
}
#lsfm:hover {
	color: #f24a4a;
}
#projects li {
	width: 60%;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border-radius: 10px;
	list-style-type: none;
	overflow: hidden;
}
#projects li img {
	float: right;
}
#tbmstr {
	background-color: #ffffff;
	color: #393939;
}
#alienbox {
	background-color: #007EFD;
	color: #FFFFFF;
}
#polybot {
	background-color: #FFFFFF;
	color: #000000;
}
.h {
	font-weight: bold;
	font-style: italic;
	font-size: 30px;
	margin-top: 2px;
	margin-left: 10px;
}
.sub {
	font-style: italic;
	font-size: 13px;
	margin-top: -3px;
	margin-left: 65px;
}
#boxicon {
	margin-top: -53px;
}
#tm {
	margin-top: -35px;
	margin-right: 10px;
}
#tmbtn {
	margin-top: -35px;
	margin-right: 8px;
}
#polyhex {
	margin-top: -65px;
}
.bot {
	margin-top: 3%;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
}
bot.su {
	margin: 20px;
}
